@import "tailwindcss";

:root {
    --primary: rgb(67 94 145);
    --surface-tint: rgb(67 94 145);
    --on-primary: rgb(255 255 255);
    --primary-container: rgb(216 226 255);
    --on-primary-container: rgb(42 70 120);
    --secondary: rgb(86 94 113);
    --on-secondary: rgb(255 255 255);
    --secondary-container: rgb(219 226 249);
    --on-secondary-container: rgb(63 71 89);
    --tertiary: rgb(113 85 116);
    --on-tertiary: rgb(255 255 255);
    --tertiary-container: rgb(251 215 252);
    --on-tertiary-container: rgb(88 62 91);
    --error: rgb(186 26 26);
    --on-error: rgb(255 255 255);
    --error-container: rgb(255 218 214);
    --on-error-container: rgb(147 0 10);
    --background: var(--color-gray-200);
    --on-background: rgb(26 27 32);
    --surface: rgb(249 249 255);
    --on-surface: rgb(26 27 32);
    --surface-variant: rgb(225 226 236);
    --on-surface-variant: rgb(68 71 79);
    --outline: rgb(116 119 127);
    --outline-variant: rgb(196 198 208);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(47 48 54);
    --inverse-on-surface: rgb(240 240 247);
    --inverse-primary: rgb(173 199 255);
    --surface-dim: rgb(217 217 224);
    --surface-bright: rgb(249 249 255);
    --surface-container-lowest: rgb(255 255 255);
    --surface-container-low: rgb(243 243 250);
    --surface-container: rgb(237 237 244);
    --surface-container-high: rgb(232 231 238);
    --surface-container-highest: rgb(226 226 233);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: rgb(173 199 255);
        --surface-tint: rgb(173 199 255);
        --on-primary: rgb(15 47 96);
        --primary-container: rgb(42 70 120);
        --on-primary-container: rgb(216 226 255);
        --secondary: rgb(191 198 220);
        --on-secondary: rgb(40 48 65);
        --secondary-container: rgb(63 71 89);
        --on-secondary-container: rgb(219 226 249);
        --tertiary: rgb(222 188 223);
        --on-tertiary: rgb(64 40 67);
        --tertiary-container: rgb(88 62 91);
        --on-tertiary-container: rgb(251 215 252);
        --error: rgb(255 180 171);
        --on-error: rgb(105 0 5);
        --error-container: rgb(147 0 10);
        --on-error-container: rgb(255 218 214);
        --background: rgb(17 19 24);
        --on-background: rgb(226 226 233);
        --surface: rgb(17 19 24);
        --on-surface: rgb(226 226 233);
        --surface-variant: rgb(68 71 79);
        --on-surface-variant: rgb(196 198 208);
        --outline: rgb(142 144 153);
        --outline-variant: rgb(68 71 79);
        --shadow: rgb(0 0 0);
        --scrim: rgb(0 0 0);
        --inverse-surface: rgb(226 226 233);
        --inverse-on-surface: rgb(47 48 54);
        --inverse-primary: rgb(67 94 145);
        --surface-dim: rgb(17 19 24);
        --surface-bright: rgb(55 57 62);
        --surface-container-lowest: rgb(12 14 19);
        --surface-container-low: rgb(26 27 32);
        --surface-container: rgb(30 31 37);
        --surface-container-high: rgb(40 42 47);
        --surface-container-highest: rgb(51 53 58);


    }
}

@theme inline {
    --color-primary: var(--primary);
    --color-surface-tint: var(--surface-tint);
    --color-on-primary: var(--on-primary);
    --color-primary-container: var(--primary-container);
    --color-on-primary-container: var(--on-primary-container);
    --color-secondary: var(--secondary);
    --color-on-secondary: var(--on-secondary);
    --color-secondary-container: var(--secondary-container);
    --color-on-secondary-container: var(--on-secondary-container);
    --color-tertiary: var(--tertiary);
    --color-on-tertiary: var(--on-tertiary);
    --color-tertiary-container: var(--tertiary-container);
    --color-on-tertiary-container: var(--on-tertiary-container);
    --color-error: var(--error);
    --color-on-error: var(--on-error);
    --color-error-container: var(--error-container);
    --color-on-error-container: var(--on-error-container);
    --color-background: var(--background);
    --color-on-background: var(--on-background);
    --color-surface: var(--surface);
    --color-on-surface: var(--on-surface);
    --color-surface-variant: var(--surface-variant);
    --color-on-surface-variant: var(--on-surface-variant);
    --color-outline: var(--outline);
    --color-outline-variant: var(--outline-variant);
    --color-shadow: var(--shadow);
    --color-scrim: var(--scrim);
    --color-inverse-surface: var(--inverse-surface);
    --color-inverse-on-surface: var(--inverse-on-surface);
    --color-inverse-primary: var(--inverse-primary);
    --color-surface-dim: var(--surface-dim);
    --color-surface-bright: var(--surface-bright);
    --color-surface-container-lowest: var(--surface-container-lowest);
    --color-surface-container-low: var(--surface-container-low);
    --color-surface-container: var(--surface-container);
    --color-surface-container-high: var(--surface-container-high);
    --color-surface-container-highest: var(--surface-container-highest);

    --color-primary-fixed: rgb(216 226 255);
    --color-on-primary-fixed: rgb(0 26 65);
    --color-primary-fixed-dim: rgb(173 199 255);
    --color-on-primary-fixed-variant: rgb(42 70 120);
    --color-secondary-fixed: rgb(219 226 249);
    --color-on-secondary-fixed: rgb(19 27 44);
    --color-secondary-fixed-dim: rgb(191 198 220);
    --color-on-secondary-fixed-variant: rgb(63 71 89);
    --color-tertiary-fixed: rgb(251 215 252);
    --color-on-tertiary-fixed: rgb(41 19 45);
    --color-tertiary-fixed-dim: rgb(222 188 223);
    --color-on-tertiary-fixed-variant: rgb(88 62 91);

    --font-display: var(--font-display);
    --font-serif: var(--font-serif);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
}

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans) sans-serif;
}
