@import "tailwindcss";

:root {
  --background: var(--color-neutral-800);
  --foreground: var(--color-black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-display);
  --font-serif: DM Serif Display, serif;
  --font-sans: InterVariable, sans-serif;
  --font-mono: JetBrains Mono, monospace;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: var(--color-stone-500);*/
/*    --foreground: var(--color-stone-100);*/
/*  }*/
/*}*/

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
